:root {
	--tab-active-bg-color: #262639;		/* background color of an active tab */
	--tab-inactive-bg-color: #0a0a15;		/* background color of an inactive tab */
	--tab-active-fg-fallback-color: #c1c1d1;	/* color of text in an active tab without a container */
	--tab-inactive-fg-fallback-color: #6c6c93;	/* color of text in an inactive tab without a container */
	--urlbar-focused-bg-color: #262639;
	--urlbar-not-focused-bg-color: #262639;

	--tab-active-fg-fallback-color: #c1c1d1;		/* color of text in an active tab without a container */
	--tab-inactive-fg-fallback-color: #6c6c93;		/* color of text in an inactive tab without a container */
	--toolbar-bgcolor: #262639 !important;
	--tab-font: 'monospace';
	--urlbar-font: 'monospace';

	/* private mode icon and colour */
	--tab-private-icon: "ï®"; /* icon to be displayed to the left of the tab titles in private windows */
	--tab-private-icon-colour: #00ffe0;	/* colour of the private icon */

	/* try increasing if you encounter problems */
	--urlbar-height-setting: 24px;
	--tab-min-height: 25px !important;

	/* I don't recommend you touch this unless you know what you're doing */
	--arrowpanel-menuitem-padding: 2px !important;
	--arrowpanel-border-radius: 0px !important;
	--arrowpanel-menuitem-border-radius: 0px !important;
	--toolbarbutton-border-radius: 0px !important;
	--toolbarbutton-inner-padding: 0px 2px !important;
	--toolbar-field-focus-background-color: var(--urlbar-focused-bg-color) !important;
	--toolbar-field-background-color: var(--urlbar-not-focused-bg-color) !important;
	--toolbar-field-focus-border-color: transparent !important;
	--uc-autohide-toolbox-delay: 500ms;
	--uc-toolbox-rotation: 82deg;
}

/* BEGIN autohide_main_toolbar.css:
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_main_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This style hides the main toolbar and shows it when the cursor is over the
* tabs toolbar as well as whenever the focus is inside nav-bar, such as when
* urlbar is focused. */

:root{ --uc-navbar-transform: -30px }
:root[uidensity="compact"]{ --uc-navbar-transform: -24px }

#navigator-toolbox > div{ display: contents; }
:root[sessionrestored] :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: translateY(var(--uc-navbar-transform))
}
:root:is([customizing],[chromehidden*="toolbar"]) :where(#nav-bar,#PersonalToolbar,#tab-notification-deck,.global-notificationbox){
  transform: none !important;
  opacity: 1 !important;
}

#nav-bar:not([customizing]){
  opacity: 0;
  transition:  transform 400ms ease 500ms, opacity 400ms ease 500ms !important;
  position: relative;
  z-index: 2;
}
#titlebar{ position: relative; z-index: 3 }

/* Show when toolbox is focused, like when urlbar has received focus */
#navigator-toolbox:focus-within > .browser-toolbar{
  transform: translateY(0);
  opacity: 1;
  transition-duration: 500ms, 200ms !important;
  transition-delay: 0s !important;
}
/* Show when toolbox is hovered */
#titlebar:hover ~ .browser-toolbar,
#nav-bar:hover,
#nav-bar:hover + #PersonalToolbar{
  transform: translateY(0);
  opacity: 1;
  transition-duration: 500ms, 200ms !important;
  transition-delay: 0s !important;
}
/* This ruleset is separate, because not having :has support breaks other selectors as well */
#mainPopupSet:has(> #appMenu-popup:hover) ~ #navigator-toolbox > .browser-toolbar{
  transition-delay: 33ms !important;
  transform: translateY(0);
  opacity: 1;
} 

/* Bookmarks toolbar needs so extra rules */
#PersonalToolbar{ transition: transform 400ms ease 500ms !important; position: relative; z-index: 1 }

/* Move up the content view */
:root[sessionrestored]:not([inFullscreen],[chromehidden~="toolbar"]) > body > #browser{ margin-top: var(--uc-navbar-transform); }

/* END autohide_main_toolbar.css:
 * https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_main_toolbar.css 
 * made available under Mozilla Public License v. 2.0 */

/*****************************************************************************/
/* GENERAL UI TWEAKS                                                         */
/*****************************************************************************/

/* Remove radius from context menu */
menupopup, panel { --panel-border-radius: 0px !important; }
menu, menuitem, menucaption { border-radius: 0px !important; }

/* Move status panel to the right */
#statuspanel-label {
	border-radius: 0px !important; 
	border: 0px !important;
}

#statuspanel {
    position: absolute;
    bottom: 1vh !important;
    left: 1vw !important;
	max-width: 50% !important;
	justify-self: right !important;
	padding-top: 0 !important;
	inset-inline: auto !important;
	min-width: unset !important;
}

/*****************************************************************************/
/* NAVBAR DEBLOATING                                                         */
/*****************************************************************************/

/* Remove unnecessary buttons */
#back-button,
#forward-button, 
#reload-button, 
#stop-button,
#home-button, 
#library-button, 
#fxa-toolbar-menu-button
#customizableui-special-spring1, 
#customizableui-special-spring2 {
	display: none;
}

/*****************************************************************************/
/* URLBAR DEBLOATING                                                         */
/*****************************************************************************/


/* #identity-box, */
/* #pageActionButton, */
#pocket-button,
/* #urlbar-zoom-button, */
/* #tracking-protection-icon-container, */
/* #reader-mode-button, */
#userContext-label, #userContext-indicator,
#urlbar-go-button,
#star-button { display: none !important; }
#star-button-box:hover { background: inherit !important; }
#star-button-box { display: none !important; }

/*****************************************************************************/
/* NAVBAR STYLING                                                            */
/*****************************************************************************/

/* Remove padding between toolbar buttons */
toolbar .toolbarbutton-1 { padding: 0 0 !important; }
toolbarbutton  12px !important;
/* Add padding to the right of the last button so that it doesn't touch the edge of the window */
#PanelUI-menu-button {
	padding: 0px 4px 0px 0px !important;
}

#urlbar-container {
	--urlbar-container-height: var(--urlbar-height-setting) !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-family: var(--urlbar-font, 'monospace');
	font-size: 10px;
}

#urlbar {
	--urlbar-height: var(--urlbar-height-setting) !important;
	--urlbar-toolbar-height: var(--urlbar-height-setting) !important;
	min-height: var(--urlbar-height-setting) !important;
	border-color: var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25)) !important;
}

#urlbar-input {
	margin-left: 0.8em !important;
	margin-right: 0.4em !important;
}

#navigator-toolbox {
	border: none !important;
}

/* Keep pop-up menus from overlapping with navbar */
#widget-overflow, 
#appMenu-popup, 
#customizationui-widget-panel,
#unified-extensions-panel {
	margin: 0 !important;
}

/* Make browser dialog boxes not overlap the navbar */
:not(.content-prompt-dialog) > .dialogOverlay > .dialogBox:not(.spotlightBox) {
	margin-top: 0px !important;
}

/*****************************************************************************/
/* UNIFIED EXTENSIONS BUTTON                                                 */
/*****************************************************************************/

/* Make extension icons smaller */
#unified-extensions-view {
	--uei-icon-size: 12px !important;
}

/* Hide extra info below extension names */
.unified-extensions-item-message-deck,
#unified-extensions-view > .panel-header,
#unified-extensions-view > toolbarseparator,
#unified-extensions-manage-extensions {
	display: none !important;
}

/* Add 3px padding on the top and the bottom of the box */
.panel-subview-body {
	padding: 3px 0px !important;
}

#unified-extensions-view .toolbarbutton-icon {
	padding: 0 !important;
}

.unified-extensions-item-contents {
	line-height: 1 !important;
	white-space: nowrap !important;
}

#unified-extensions-panel .unified-extensions-item {
	margin-block: 0 !important;
}

.toolbar-menupopup :is(menu, menuitem), .subview-subheader, panelview
.toolbarbutton-1, .subviewbutton, .widget-overflow-list .toolbarbutton-1 {
	padding: 4px !important;
}

/* --- STYLE TAB TOOLBAR -------------------------------- */

#titlebar {
	--proton-tab-block-margin: 0px !important;
	--tab-block-margin: 0px !important;
}

#TabsToolbar, .tabbrowser-tab {
	max-height: var(--tab-min-height) !important;
	font-size: 11px !important;
}

/* Change color of normal tabs */
tab:not([selected="true"]) {
	background-color: var(--tab-inactive-bg-color) !important;
	color: var(--identity-icon-color, var(--tab-inactive-fg-fallback-color)) !important;
}

tab {
	font-family: var(--tab-font, monospace);
	font-weight: normal;
	border: none !important;
}

/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display: none !important; }

/* Reduce favicons size */
.tabbrowser-tab .tab-icon-image { transform: scale(0.80) !important; }

/* Hide favicons except for pinned tabs */
.tab-icon-stack:not([pinned]) { display: none !important; }

.tabbrowser-tab {
	/* Remove border between tabs */
	padding-inline: 0px !important;
	/* Reduce fade effect of tab text */
	--tab-label-mask-size: 1em !important;
	/* Fix pinned tab behaviour on overflow */
	overflow-clip-margin: 0px !important;
}

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
	background: var(--tab-active-bg-color) !important;
	color: var(--identity-icon-color, var(--tab-active-fg-fallback-color)) !important;
}

/* Tab: hovered colors */
#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {
	background: var(--tab-active-bg-color) !important;
}

/* Hide window controls */
.titlebar-buttonbox-container { display: none; }

/* Remove titlebar spacers */
.titlebar-spacer { display: none !important; }

/* Safari-style tabs */
.tabbrowser-tab[fadein] {
	max-width: 100vw !important;
	border: none
}

/* Disable tab shadow */
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
}

/* Remove dark space between pinned tab and first non-pinned tab */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) >
#tabbrowser-arrowscrollbox >
.tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
	margin-inline-start: 0px !important;
}

/* Remove dropdown menu button which displays all tabs on overflow */
#alltabs-button { display: none !important }

/* Fix displaying of pinned tabs on overflow */
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
	height: var(--tab-min-height) !important;
}

/* Remove overflow scroll buttons */
#scrollbutton-up, #scrollbutton-down { display: none !important; }

/* Remove new tab button */
#tabs-newtab-button {
	display: none !important;
}

/* Hide private browsing indicator */
#private-browsing-indicator-with-label {
 	display: none;
}

#main-window[privatebrowsingmode] #tabbrowser-tabs .tabbrowser-tab .tab-content:before {
	content: var(--tab-private-icon);
	margin-right: 1em; 
	color: var(--tab-private-icon-colour)
}
#private-browsing-indicator-with-label > label { 
	display: none;
}
